// Footer
footer.footer
 .container
   .row
     // Footer Column
     .col-lg-4.footer_col
       // Logo
       .logo_container
         .logo
           a(href="#")
             span Proinder
         .logo_subtitle Torreòn
       .footer_social
         ul
           li
             a(href="#")
               i.fa.fa-google-plus(aria-hidden="true")
           li
             a(href="#")
               i.fa.fa-pinterest(aria-hidden="true")
           li
             a(href="#")
               i.fa.fa-facebook(aria-hidden="true")
           li
             a(href="#")
               i.fa.fa-twitter(aria-hidden="true")
     // Footer Column
     .col-lg-4.footer_col
       .footer_links
         .footer_title Enlaces útiles
         ul
           li
             a(href="index") Inicio
           li
             a(href="login") Iniciar Sesiòn
           li
             a(href="register") Registrate
           li
             a(href="blog") Blog
           li
             a(href="contact") Contacto
     // Footer Column
     .col-lg-3.footer_col
       .footer_contact
         .footer_title Nuestro Contacto 
         ul
           li
             span Address: 
             | Medio Ambiente Av. Allende 333 pte C.P. 27000 Torreón, Coahuila
           li.footer_contact_phone
             span Phone: 
             div
               div   500-7000 Ext 1437
               div  +53 345 7557 822112
           li
             span Email: 
             | soporte@proinder.com
 // Copyright
 .copyright.text-center
   | Copyright ©
   script.
     document.write(new Date().getFullYear());
   |  Todos los derechos reservados | Desarrollado con 
   i.fa.fa-heart-o(aria-hidden="true")
   |  por 
   a(href="" target="_blank") Daniel Rocha
