extends layout

block content
  link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")
  .home
    .login-page
      .form
        form.register-form(method='POST' action='/register')
          input(type="text" name="first_name" placeholder="Nombre" required)
          input(type="text" name="last_name" placeholder="Apellidos" required)
          input(type="text" name="email" placeholder="Correo electrònico" required)
          input(type="password" name="password" placeholder="Contraseña" required)
          input(type="password" name="confirmPassword" placeholder="Confirma tu contraseña" required)
          label(for="tyc") Aceptas los terminos y condiciones?
          input#tyc(type="checkbox" name="tyc" required)
          button(type='submit') crear nueva cuenta
          p.message
            | Ya tienes una cuenta? 
            a(href="login") Inicia sesiòn
